<script src="src/assets/js/abc.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-blueABC">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ABC Jobs</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'HEADER.CLIENT.MENU_1' | translate }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
                  <div class="dropdown-menu bg-blueABC text-white-50" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="index_es.html">Datos basicos</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'HEADER.CLIENT.MENU_2' | translate }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a>
                  <div class="dropdown-menu bg-blueABC " aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="create_project_es.html">Crear proyecto</a>
                    <a class="dropdown-item" href="search_candidates_es.html">Buscar Candidato</a>
            <a class="dropdown-item" href="evaluate_performance_es.html">Evaluar desempeño</a>
                  </div>
              </li>
          <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ 'HEADER.CLIENT.MENU_3' | translate }}&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; </a>
                  <div class="dropdown-menu bg-blueABC " aria-labelledby="navbarDropdown3">
                    <a class="dropdown-item" href="list_interviews_es.html">Lista de entrevistas</a>
                  </div>
              </li>

      </ul>
    </div>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
  </ul>
  </div>
  <div class="navbar-collapse collapse w-25 order-4 dual-collapse2">
    <ul class="navbar-nav float-right text-right">
        <li class="nav-item">
            <a class="nav-link" >
            <img (click)="selectLanguage('es')" src="../../assets/images/spain.png" class="float-right language" width="30%" height="30%" alt="{{ 'I18N.SPANISH_PAGE' | translate }}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >
              <img (click)="selectLanguage('en')" src="../../assets/images/united-states.png" class="float-right language" width="30%" height="30%" alt="{{ 'I18N.ENGLISH_PAGE' | translate }}"></a>
        </li>
    </ul>
    </div>
</nav>

