
<nav class="navbar navbar-expand-lg navbar-dark bg-blueABC">
  <a class="navbar-brand" href="#">ABC Jobs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">


     </ul>
  </div>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
 <ul class="navbar-nav ml-auto">
 </ul>
 </div>
<div class="navbar-collapse collapse w-25 order-4 dual-collapse2">
   <ul class="navbar-nav float-right text-right">
       <li class="nav-item">
          <a class="nav-link" href="login_es.html"><img src="/assets/images/spain.png" class="float-right" width="20%" height="20%" alt="Pagina en español"></a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="login_en.html"><img src="/assets/images/united-states.png" class="float-right" width="20%" height="20%" alt="Pagina en español"></a>
       </li>
   </ul>
</div>
</nav>

