<header-candidate></header-candidate>

<h2 class="text-center">{{ 'CANDIDATE_BASIC.TITLE' | translate }}</h2>
    <div class="container text-center">
		<form class="needs-validation" [formGroup]="candidateBasicForm" (ngSubmit)="createCandidate(candidateBasicForm.value)" id="createCandidate" novalidate #myForm="ngForm">
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3 float-lg-right">
					<label for="Username" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.USERNAME' | translate }}</label>
				</div>
				<div class="col-8 input-group has-validation">
					<input type="email" class="form-control" formControlName="Username" id="Username" aria-describedby="emailHelp" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.USERNAME' | translate }}">
					<div *ngIf="candidateBasicForm.get('Username')?.hasError('required') && candidateBasicForm.get('Username')?.touched" class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.USERNAME' | translate }}
                                         </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center form-group">
				<div class="col-3">
					<label for="Password" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.PASSWORD' | translate }}</label>
				</div>
				<div class="col-8">
					<input type="password" class="form-control" formControlName="Password" id="Password"  minlength="6" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.PASSWORD' | translate }}" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
					 <div   class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.PASSWORD' | translate }}
                                        </div>
				</div>

			</div>
                        <div class="row mt-2 align-items-center text-center form-group">
				<div class="col-3">
					<label for="DocumentType" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.DOCUMENTTYPE' | translate }}</label>
				</div>
				<div class="col-2">
					<select formControlName="DocumentType" size="1" class="form-control"  id="DocumentType" required>
						<option selected disabled value="">{{ 'CANDIDATE_BASIC.PLACEHOLDER.DOCUMENTTYPE' | translate }}</option>
						<option value="CC">Cédula de ciudadanía</option>
                                                <option value="NI">ID Nacional</option>
						<option value="PA">Pasaporte</option>

					</select>
					 <div   class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.DOCUMENTTYPE' | translate }}
                                        </div>
				</div>
                                <div class="col-2">
					<label for="Document" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.DOCUMENT' | translate }}</label>

				</div>
				<div class="col-4">
					<input type="text" class="form-control" formControlName="Document" id="Document" minlength="6" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.DOCUMENT' | translate }}" pattern="[0-9]{6,30}">
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.DOCUMENT' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="FirstName" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.FIRSTNAME' | translate }}</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" minlength="2" formControlName="FirstName" id="FirstName" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.FIRSTNAME' | translate }}"  pattern="(?=^.{2,30}$)(?=.*[A-Z]|[a-z]).*$">
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.FIRSTNAME' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="LastName" class="col-form-label float-lg-right" >{{ 'CANDIDATE_BASIC.LABEL.LASTNAME' | translate }}</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" formControlName="LastName" id="LastName" minlength="2" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.LASTNAME' | translate }}" pattern="(?=^.{2,30}$)(?=.*[A-Z]|[a-z]).*$">
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.LASTNAME' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Age" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.AGE' | translate }}</label>
				</div>
				<div class="col-2">
					<select size="1" class="form-control" formControlName="Age" id="Age" required>
						<option selected disabled value="">{{ 'CANDIDATE_BASIC.PLACEHOLDER.AGE' | translate }}</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
						<option>27</option>
						<option>28</option>
						<option>29</option>
						<option>30</option>
						<option>31</option>
						<option>32</option>
						<option>33</option>
						<option>34</option>
						<option>35</option>
						<option>36</option>
						<option>37</option>
						<option>38</option>
						<option>39</option>
						<option>40</option>
						<option>41</option>
						<option>42</option>
						<option>43</option>
						<option>44</option>
						<option>45</option>
						<option>46</option>
						<option>47</option>
						<option>48</option>
						<option>49</option>
						<option>50</option>
						<option>51</option>
						<option>52</option>
						<option>53</option>
						<option>54</option>
						<option>55</option>
						<option>56</option>
						<option>57</option>
						<option>58</option>
						<option>59</option>
						<option>60</option>
						<option>61</option>
						<option>62</option>
						<option>63</option>
						<option>64</option>
						<option>65</option>
					</select>
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.AGE' | translate }}
				  </div>
				</div>
				<div class="col-2">
					<label for="PhoneNumber" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.PHONENUMBER' | translate }}</label>
				</div>
				<div class="col-4">
					<input type="text" class="form-control" formControlName="PhoneNumber" id="PhoneNumber" minlength="6" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.PHONENUMBER' | translate }}" pattern="[0-9]{6,20}">
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.PHONENUMBER' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Address" class="col-form-label float-lg-right" >{{ 'CANDIDATE_BASIC.LABEL.ADDRESS' | translate }}</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" formControlName="Address" id="Address" placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.ADDRESS' | translate }}">
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="OriginCountry" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.ORIGINCOUNTRY' | translate }}</label>
				</div>
				<div class="col-8">
					<select size="1" class="form-control" formControlName="OriginCountry" id="OriginCountry" required>
						<option selected disabled value="">{{ 'CANDIDATE_BASIC.PLACEHOLDER.ORIGINCOUNTRY' | translate }}</option>
						<option value="CO">Colombia</option>
						<option value="US">Estados Unidos</option>
					</select>
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.ORIGINCOUNTRY' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="ResidenceCity" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.RESIDENCECITY' | translate }}</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" formControlName="ResidenceCity" id="ResidenceCity"  minlength="2" required placeholder="{{ 'CANDIDATE_BASIC.PLACEHOLDER.RESIDENCECITY' | translate }}" pattern="(?=^.{2,30}$)(?=.*[A-Z]|[a-z]).*$">
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.RESIDENCECITY' | translate }}
				  </div>
				</div>
			</div>

			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="ResidenceCountry" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.RESIDENCECOUNTRY' | translate }}</label>
				</div>
				<div class="col-8">
					<select size="1" class="form-control" formControlName="ResidenceCountry" id="ResidenceCountry" required>
						<option selected disabled value="">{{ 'CANDIDATE_BASIC.PLACEHOLDER.RESIDENCECOUNTRY' | translate }}</option>
						<option value="CO">Colombia</option>
						<option value="US">Estados Unidos</option>
					</select>
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.RESIDENCECOUNTRY' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Photo" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.PHOTO' | translate }}</label>
				</div>
					<div class="card">
						<img  id="Photo" width="15%" height="15%" src="../../../assets/images/user.png" alt="Card image cap">

					 </div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Policy" class="col-form-label float-lg-right">{{ 'CANDIDATE_BASIC.LABEL.POLICY' | translate }}</label>
				</div>
				<div class="col-8">
					<input class="form-check-input" type="checkbox" formControlName="Policy" id="Policy" required>
						<label class="form-check-label" for="flexCheckDefault">
						{{ 'CANDIDATE_BASIC.PLACEHOLDER.POLICY' | translate }}
					  </label>
					<div class="invalid-feedback">
					{{ 'CANDIDATE_BASIC.VALIDATOR.POLICY' | translate }}
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center ">
				<div class="col-5 text-right">
					<button type="submit" class="btn btn-primary" onmouseover="checkForm()" onfocus="checkForm()">{{ 'UI.CREATE' | translate }}</button>
				</div>
				<div class="col-1">

				</div>
				<div class="col-5 text-left">
                                    <button type="reset" class="btn btn-danger" (click)="cancelCreation()">{{ 'UI.CANCEL' | translate }}</button>
				</div>
			</div>
		</form>

    </div>
	<br>
	<br>
	<br>

