<client-header></client-header>

<h2 class="text-center">{{ 'PROJECTS_LIST.TITLE' | translate }}</h2>
<br>       
<hr>
<br>
    <div class="container text-center">
		<table  class="table">
		  <thead class="thead-blueABC">
			<tr>
			  <th scope="col">{{ 'PROJECTS_LIST.TABLEHEADER.C1' | translate }}</th>
			  <th scope="col">{{ 'PROJECTS_LIST.TABLEHEADER.C2' | translate }}</th>
			  <th scope="col">{{ 'PROJECTS_LIST.TABLEHEADER.C3' | translate }}</th>
			  <th scope="col-3">{{ 'PROJECTS_LIST.TABLEHEADER.C4' | translate }}</th>
			  <th scope="col-2">{{ 'PROJECTS_LIST.TABLEHEADER.C5' | translate }}</th>
                          <th scope="col-2">{{ 'PROJECTS_LIST.TABLEHEADER.C6' | translate }}</th>
                          
			</tr>
		  </thead>
		  <tbody>
			<tr *ngFor="let project of projects; let i = index">
                            <th scope="row">{{project.project_name}}</th>
                            <td>{{project.start_date}}</td>
                            <td *ngIf="project.active=='True';else inactivo">Y</td>
                             <ng-template #inactivo><td>N</td></ng-template>
                            <td>{{project.details}}</td>
                            <td><button type="button" class="btn btn-outline-success" (click)="viewMembers(project.id,i)">{{ 'PROJECTS_LIST.LABEL.MEMBERS' | translate }}</button> </td>
                            <td><button type="button" class="btn btn-outline-success" (click)="viewEvaluations(project.id,i)">{{ 'PROJECTS_LIST.LABEL.EVALUATIONS' | translate }}</button> </td>
			</tr>
		  </tbody>
		</table>
    
        
    </div>

    
	<br>
	<br>
	<br>



