<header-candidate></header-candidate>

<h2 class="text-center">Información Acádemica</h2>
    <div class="container text-center">
		<form class="needs-validation" action="academic_es.html" novalidate>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Titulo" class="col-form-label float-lg-right">Titulo</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" id="Titulo" minlength="5" required placeholder="Ingrese el nombre del titulo">
					<div class="invalid-feedback">
					Ingrese una titulo mayor a 6 caracteres.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Institucion" class="col-form-label float-lg-right">Institución</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" id="Institucion" minlength="5" required placeholder="Ingrese el nombre de la institucion">
					<div class="invalid-feedback">
					Ingrese un nombre mayor a 5 caracteres.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Pais_residencia" class="col-form-label float-lg-right">Pais</label>
				</div>
				<div class="col-8">
					<select size="1" class="form-control" id="Pais_residencia" required>
						<option selected disabled value="">Seleccione</option>
						<option>Colombia</option><option>Estados Unidos</option>
					</select>
					<div class="invalid-feedback">
					Seleccione un país.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Inicio" class="col-form-label float-lg-right">Inicio</label>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" id="Inicio" required>
						<option selected disabled value="">Seleccione</option>
						<option>	Enero	</option>
						<option>	febrero	</option>
						<option>	marzo	</option>
						<option>	abril	</option>
						<option>	mayo	</option>
						<option>	junio	</option>
						<option>	julio	</option>
						<option>	agosto	</option>
						<option>	septiembre	</option>
						<option>	octubre	</option>
						<option>	noviembre	</option>
						<option>	diciembre	</option>

					</select>
					<div class="invalid-feedback">
					Seleccione un mes.
				  </div>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" id="Anio1" required>
						<option selected disabled value="">Seleccione</option>
						<option>2010</option><option>2011</option>
					</select>
					<div class="invalid-feedback">
					Seleccione un Año.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Fin" class="col-form-label float-lg-right">Fin</label>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" id="Fin" required>
						<option selected disabled value="">Seleccione</option>
						<option>	Enero	</option>
						<option>	febrero	</option>
						<option>	marzo	</option>
						<option>	abril	</option>
						<option>	mayo	</option>
						<option>	junio	</option>
						<option>	julio	</option>
						<option>	agosto	</option>
						<option>	septiembre	</option>
						<option>	octubre	</option>
						<option>	noviembre	</option>
						<option>	diciembre	</option>
					</select>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" id="Anio2" required>
						<option selected disabled value="">Seleccione</option>
						<option>2012</option>
						<option>2013</option>
					</select>
					<div class="invalid-feedback">
							Seleccione un Año.
						  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="" class="col-form-label float-lg-right"></label>
				</div>
				<div class="col-8">
					<input class="form-check-input" type="checkbox" id="encurso"> 
						<label class="form-check-label" for="flexCheckDefault">
						En Curso
					  </label>
				</div>
			</div>
		  <div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Direccion" class="col-form-label float-lg-right" >Descripción</label>
			  </div>
				<div class="col-8">
					<textarea class="form-control" id="Descripcion" rows="3" minlength="30" required placeholder="Ingrese el detalle del titulo"></textarea>
					<div class="invalid-feedback">
							El detalle del titulo debe ser mayor a 30 caracteres.
						  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center ">
				<div class="col-5 text-right">
					<button type="submit" class="btn btn-primary">Aceptar</button>
				</div>
				<div class="col-1">
					
				</div>
				<div class="col-5 text-left">
					<button type="reset" class="btn btn-danger">Cancelar</button>
				</div>
			</div>
		</form>
       
    </div>
	<br>
	<br>
	<br>
