<header-candidate></header-candidate>

<h2 class="text-center">Información Acádemica</h2>
    <div class="container text-center">
		<form class="needs-validation" [formGroup]="candidateAcademicForm" (ngSubmit)="createAcademicInfo(candidateAcademicForm.value)" novalidate>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="title" class="col-form-label float-lg-right">Titulo</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" formControlName="title" id="title" minlength="5" required placeholder="Ingrese el nombre del titulo">
					<div class="invalid-feedback">
					Ingrese una titulo mayor a 6 caracteres.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Institucion" class="col-form-label float-lg-right">Institución</label>
				</div>
				<div class="col-8">
					<input type="text" class="form-control" formControlName="institution" id="institution" minlength="5" required placeholder="Ingrese el nombre de la institucion">
					<div class="invalid-feedback">
					Ingrese un nombre mayor a 5 caracteres.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Pais_residencia" class="col-form-label float-lg-right">Pais</label>
				</div>
				<div class="col-8">
					<select size="1" class="form-control" formControlName="country" id="country" required>
						<option selected disabled value="">Seleccione</option>
						<option>Colombia</option><option>Estados Unidos</option>
					</select>
					<div class="invalid-feedback">
					Seleccione un país.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Inicio" class="col-form-label float-lg-right">Inicio</label>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" formControlName="start_date_month" id="start_date_month" required>
						<option selected disabled value="">Seleccione</option>
						<option value="01">	Enero	</option>
						<option value="02">	febrero	</option>
						<option value="03">	marzo	</option>
						<option value="04">	abril	</option>
						<option value="05">	mayo	</option>
						<option value="06">	junio	</option>
						<option value="07">	julio	</option>
						<option value="08">	agosto	</option>
						<option value="09">	septiembre	</option>
						<option value="10">	octubre	</option>
						<option value="11">	noviembre	</option>
						<option value="12">	diciembre	</option>

					</select>
					<div class="invalid-feedback">
					Seleccione un mes.
				  </div>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" formControlName="start_date_year" id="start_date_year" required>
						<option selected disabled value="">Seleccione</option>
						<option>2010</option><option>2011</option>
					</select>
					<div class="invalid-feedback">
					Seleccione un Año.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Fin" class="col-form-label float-lg-right">Fin</label>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" formControlName="end_date_month" id="end_date_month" required>
						<option selected disabled value="">Seleccione</option>
						<option value="01">	Enero	</option>
						<option value="02">	febrero	</option>
						<option value="03">	marzo	</option>
						<option value="04">	abril	</option>
						<option value="05">	mayo	</option>
						<option value="06">	junio	</option>
						<option value="07">	julio	</option>
						<option value="08">	agosto	</option>
						<option value="09">	septiembre	</option>
						<option value="10">	octubre	</option>
						<option value="11">	noviembre	</option>
						<option value="12">	diciembre	</option>
					</select>
				</div>
				<div class="col-4">
					<select size="1" class="form-control" formControlName="end_date_year" id="end_date_year" required>
						<option selected disabled value="">Seleccione</option>
						<option>2012</option>
						<option>2013</option>
					</select>
					<div class="invalid-feedback">
							Seleccione un Año.
						  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="" class="col-form-label float-lg-right"></label>
				</div>
				<div class="col-8">
					<input class="form-check-input" type="checkbox" formControlName="current" id="current"> 
						<label class="form-check-label" for="flexCheckDefault">
						En Curso
					  </label>
				</div>
			</div>
		  <div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="Direccion" class="col-form-label float-lg-right" >Descripción</label>
			  </div>
				<div class="col-8">
					<textarea class="form-control" formControlName="description" id="description" rows="3" minlength="30" required placeholder="Ingrese el detalle del titulo"></textarea>
					<div class="invalid-feedback">
							El detalle del titulo debe ser mayor a 30 caracteres.
						  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center ">
				<div class="col-5 text-right">
					<button type="submit" class="btn btn-primary">Aceptar</button>
				</div>
				<div class="col-1">
					
				</div>
				<div class="col-5 text-left">
					<button type="reset" class="btn btn-danger">Cancelar</button>
				</div>
			</div>
		</form>
       
    </div>
	<br>
	<br>
	<br>
