<header-candidate></header-candidate>

<h2 class="text-center">Información Técnica de roles</h2>
    <div class="container text-center">
		<form class="needs-validation" [formGroup]="candidateTechnicalRoleForm" (ngSubmit)="createTechnicalRoleInfo(candidateTechnicalRoleForm.value)" id="addTechnicalRoleInfo" novalidate>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3 float-lg-right">
					<label for="name" class="col-form-label float-lg-right">Nombre del rol</label>
				</div>
				<div class="col-8 input-group has-validation">
					<input type="text" class="form-control" formControlName="name" id="name" required placeholder="Ingrese el nombre del role">
					<div *ngIf="candidateTechnicalRoleForm.get('role')?.hasError('required') && candidateTechnicalRoleForm.get('role')?.touched" class="invalid-feedback">
					Ingrese una nombre mayor a 6 caracteres.
				  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="experience_years" class="col-form-label float-lg-right">Experiencia en años</label>
				</div>
				<div class="col-8">
					<select size="1" class="form-control" formControlName="experience_years" id="experience_years" required>
						<option selected disabled value="">Seleccione</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						<option>24</option>
						<option>25</option>
						<option>26</option>
					</select>
					<div class="invalid-feedback">
					Ingrese los años de experiencia
				  </div>
				</div>
			</div>
			
		    <div class="row mt-2 align-items-center text-center">
				<div class="col-3">
					<label for="description" class="col-form-label float-lg-right" >Descripción</label>
			  </div>
				<div class="col-8">
					<textarea class="form-control" formControlName="description" id="description" rows="3" minlength="6" required placeholder="Ingrese el detalle del titulo"></textarea>
					<div class="invalid-feedback">
							La descripción debe ser máximo de 60 carácteres
						  </div>
				</div>
			</div>
			<div class="row mt-2 align-items-center ">
				<div class="col-5 text-right">
					<button type="submit" onmouseover="checkForm()" onfocus="checkForm()" class="btn btn-primary">Aceptar</button>
				</div>
				<div class="col-1">
					
				</div>
				<div class="col-5 text-left">
					<button type="reset" class="btn btn-danger">Cancelar</button>
				</div>
			</div>
		</form>
       
    </div>
	<br>
	<br>
	<br>
