<div>
  <ul class="navbar-nav float-right text-right">
      <li class="nav-item">
         <a class="nav-link" >
          <img (click)="selectLanguage('es')" src="../../assets/images/spain.png" class="float-right language" width="20%" height="20%" alt="{{ 'I18N.SPANISH_PAGE' | translate }}"></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" >
            <img (click)="selectLanguage('en')" src="../../assets/images/united-states.png" class="float-right language" width="20%" height="20%" alt="{{ 'I18N.ENGLISH_PAGE' | translate }}"></a>
      </li>
  </ul>
</div>
