<script src="src/assets/js/abc.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-blueABC">
    <div class="container-fluid">

       <a class="navbar-brand" href="#">ABC Jobs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
           </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ 'HEADER.CANDIDATE.MENU_1' | translate }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="candidate-full-info">Ver Datos</a></li>
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="academic-candidate">Datos Academicos</a></li>
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="technical-role-candidate">Datos Laborales</a></li>
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="technology-candidate">Datos Tecnicos</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ 'HEADER.CANDIDATE.MENU_2' | translate }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="#">Realizar Prueba</a></li>
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="#">Ver resultados</a></li>
                </ul>
            </div>
             <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ 'HEADER.CANDIDATE.MENU_3' | translate }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item bg-blueABC text-white-50" href="list-interviews">Consultar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar-collapse collapse w-25 order-4 dual-collapse2">
   <ul class="navbar-nav float-right text-right">
       <li class="nav-item">
          <a class="nav-link" >
          <img (click)="selectLanguage('es')" src="../../assets/images/spain.png" class="float-right language" width="20%" height="20%" alt="{{ 'I18N.SPANISH_PAGE' | translate }}"></a>
       </li>
       <li class="nav-item">
           <a class="nav-link" >
            <img (click)="selectLanguage('en')" src="../../assets/images/united-states.png" class="float-right language" width="20%" height="20%" alt="{{ 'I18N.ENGLISH_PAGE' | translate }}"></a>
       </li>
   </ul>
    </div>
</nav>
