<script src="src/assets/js/abc.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-blueABC">
       <a class="navbar-brand" href="#">ABC Jobs</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                Mis Datos
                </a>
                <ul class="dropdown-menu bg-blueABC text-white-50" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" (click)="goTo('basic')">Datos Basicos</a></li>
                    <li><a class="dropdown-item" (click)="goTo('academic')">Datos Academicos</a></li>
                    <li><a class="dropdown-item" href="job_es.html">Datos Laborales</a></li>
                    <li><a class="dropdown-item" href="technical_es.html">Datos Tecnicos</a></li>
                </ul>
             </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mis pruebas
                </a>
                <div class="dropdown-menu bg-blueABC " aria-labelledby="navbarDropdown2">
                   <a class="dropdown-item" href="take_test_es.html">Realizar Prueba</a>
                   <a class="dropdown-item" href="list_results_es.html">Ver resultados</a>
                </div>
             </li>
			  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mis Entrevistas
                </a>
                <div class="dropdown-menu bg-blueABC " aria-labelledby="navbarDropdown3">
                   <a class="dropdown-item" href="list_interviews_es.html">Consultar</a>
                </div>
             </li>
          </ul>
       </div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
			</ul>
    	</div>	
		<div class="navbar-collapse collapse w-25 order-4 dual-collapse2">
        <ul class="navbar-nav float-right text-right">
            <li class="nav-item">
               <a class="nav-link" href="academic_en.html"><img src="../../../assets/images/spain.png" class="float-right" width="20%" height="20%" alt="Pagina en español"></a>
              
            </li>
            <li class="nav-item">
                <a class="nav-link" href="academic_en.html"><img src="../../../assets/images/united-states.png" class="float-right" width="20%" height="20%" alt="Page in english"></a>
            </li>
        </ul>
    </div>
</nav>