<!--<script src="src/assets/js/abc.js"></script>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-blueABC">
    <div class="container-fluid">
       <a class="navbar-brand" href="#">ABC Jobs</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
           </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                 Mis Datos
                </a>
                <ul class="dropdown-menu bg-blueABC text-white-50" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/basic-candidate">Datos Basicos</a></li>
                </ul>
             </li>
          </ul>
       </div>    
    </div>
</nav>