<nav class="navbar navbar-expand-lg navbar-dark bg-blueABC">
  <a class="navbar-brand" href="#">ABC Jobs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mr-auto">
     </ul>
  </div>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
 <ul class="navbar-nav ml-auto">
 </ul>
 </div>
 <div class="navbar-collapse collapse w-25 order-4 dual-collapse2">
   <app-i18n/>
 </div>

</nav>
<br>
<br>
<h2 class="text-center">{{ 'INTERVIEW.SCHEDULE.SCHEDULE_INTERVIEW' | translate }} </h2>
<div class="container text-center float-lg-none">
<hr >

<div class="container text-center">
<form  [formGroup]="loginForm" class="needs-validation"
#formDirective="ngForm" (ngSubmit)="schedule_interview(loginForm.value)">
<div class="row mt-3 align-items-center text-center">
  <div class="col-3">
    <label for="project_id" class="col-form-label float-lg-right">{{'INTERVIEW.SCHEDULE.PROJECT' | translate}}</label>
  </div>
  <div class="col-9">
   <select  size="1" class="form-control" formControlName="project_id" id="project_id"
   required (change)="select_test(this.loginForm.controls['name'].value)">
     <option *ngFor="let test of projects"  value="{{test.projectId}}"> {{test.name}}</option>

   </select>
   <div class="invalid-feedback">
     {{'INTERVIEW.SCHEDULE.VALIDATOR.PROJECT' | translate}}
   </div>
  </div>

</div>

 <div class="row mt-3 align-items-center text-center">
   <div class="col-3">
     <label for="meet_url" class="col-form-label float-lg-right">{{'INTERVIEW.SCHEDULE.MEET_URL' | translate}}</label>
   </div>
   <div class="col-9">
      <input type="url" class="form-control" formControlName="meet_url" id="meet_url"
      required placeholder="{{'INTERVIEW.SCHEDULE.PLACEHOLDER.MEET_URL' | translate}}"/>
      <div class="invalid-feedback">
        {{'INTERVIEW.SCHEDULE.VALIDATOR.MEET_URL' | translate}}
      </div>
    </div>
 </div>


<div class="row mt-3 align-items-center text-center">
  <div class="col-3">
    <label for="start_timestamp" class="col-form-label float-lg-right">{{'INTERVIEW.SCHEDULE.DATE' | translate}}</label>
  </div>
  <div class="col-9">
    <input type="datetime-local" class="form-control" formControlName="start_timestamp"
    min="{{minDate}}" id="start_timestamp" required/>
    <div class="invalid-feedback">
      {{'INTERVIEW.SCHEDULE.VALIDATOR.DATE' | translate}}
    </div>

  </div>

</div>


<div class="row mt-3 align-items-center text-center">
  <div class="col-3">
    <label for="candidate_document" class="col-form-label float-lg-right">{{'INTERVIEW.SCHEDULE.CANDIDATE' | translate}}</label>
  </div>
  <div class="col-4">
    <input type="text" class="form-control" formControlName="candidate_document" id="candidate_document" required placeholder="{{'INTERVIEW.SCHEDULE.PLACEHOLDER.CANDIDATE_DOCUMENT' | translate}}"/>
       <div class="invalid-feedback">

      {{'INTERVIEW.SCHEDULE.VALIDATOR.DOCUMENT' | translate}}
    </div>
 </div>
  <div class="col-1">
    <button  type="button"  class="btn btn-primary"
    style="display: inline-block;" (click)="get_candidate(this.loginForm.controls['candidate_document'].value)">{{'INTERVIEW.SCHEDULE.UI.SEARCH' | translate}}</button>
  </div>
  <div class="col-4">
    <input type="text" ng-disabled=true class="form-control" formControlName="candidate_name" id="candidate_name"
    required placeholder="{{'INTERVIEW.SCHEDULE.PLACEHOLDER.CANDIDATE_NAME' | translate}}"/>
    <div class="invalid-feedback">
      {{'INTERVIEW.SCHEDULE.VALIDATOR.CANDIDATE_NAME' | translate}}
    </div>
  </div>

</div>


<div class="row mt-3 align-items-center text-center">
  <div class="col-3">
    <label for="duration_minutes" class="col-form-label float-lg-right">{{'INTERVIEW.SCHEDULE.DURATION' | translate}}</label>
  </div>
  <div class="col-9">
  <select class="form-control"
  formControlName="duration_minutes" id="duration_minutes" required>
    <option value="30"> {{'INTERVIEW.SCHEDULE.DURATIONS.A' | translate}}</option>
    <option value="60">    {{'INTERVIEW.SCHEDULE.DURATIONS.B' | translate}}</option>
    <option value="90">    {{'INTERVIEW.SCHEDULE.DURATIONS.C' | translate}}</option>
    <option value="120">    {{'INTERVIEW.SCHEDULE.DURATIONS.D' | translate}}</option>
    <option value="180">    {{'INTERVIEW.SCHEDULE.DURATIONS.E' | translate}}</option>
  </select>

   <div class="invalid-feedback">
    {{'INTERVIEW.SCHEDULE.VALIDATOR.DURATION' | translate}}
  </div>
  </div>


</div>


<div class="row mt-3 align-items-center ">
   <div class="col-4 text-right">
     <!--<a href="index_es.html"> -->
     <button class="btn btn-primary" type="submit"  onmouseover="checkForm()" onfocus="checkForm()" >{{'UI.OK' | translate}}</button>
     <!--</a>-->
   </div>
   <div class="col-1">

   </div>
   <div class="col-4 text-left">
     <button type="reset" class="btn btn-danger"
     (click)="cancelCreation()">{{'UI.CANCEL' | translate}}</button>
   </div>
 </div>
</form>

</div>
<br>
<br>
<br>
<footer class="fixed-bottom">
<div class="container-fluid bg-blueABC">
  <div class="row">
     <div class="text-center col-lg-20">
   <br>
     </div>
  </div>
</div>
</footer>
